resolver/resolver
operator/bin
playground/load-generator
playground/target
.DS_Store

.idea
.vscode
namespace.yaml
install.yaml
kubeconfig
report.html
site/
db-go-service
.cache/

.qodo
.codeql-db
*.sarif
