apiVersion: elasti.truefoundry.com/v1alpha1
kind: ElastiService
metadata:
  name: httpbin
spec:
  service: httpbin
  minTargetReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: deployments
    name: httpbin
