:root {
    --md-primary-fg-color: #f3f1f2;
    --md-primary-fg-color--dark: #0D4984;
    --md-primary-fg-color--light: #6593C8;
    --nav-item-color: #4d4d4d;
    --nav-bg-color: #f3f1f2;
    --md-footer-bg-color: #081729;
  }


  /* header css */
.md-header {
    background-color: #825B21;
  }
  

  .md-tabs {
    background-color: #825B21;
    font-weight: bold;
  }
  

  /* Tame the footer and make the prev/next stand out */
.md-footer {
    background-color: #1f2129;
  }
  
  
  .md-footer-meta {
    background-color: #1f2129;
    width: 100%;
  }
  
  a.md-header__button.md-logo :-webkit-any(img, svg),
  a.md-header__button.md-logo :is(img, svg),
  a.md-header__button.md-logo img {
    width: 2.4rem;
    height: 2.4rem;
  }
  
  .md-header__button.md-logo {
    transition-duration: 0.2s;
    transition-property: transform;
  }
  
  .md-header__button.md-logo:hover {
    opacity: 1;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }
