global:
  kubernetesClusterDomain: cluster.local
  nameOverride: ""
  fullnameOverride: ""
  enableMonitoring: false
  secretName: elasti-secret
elastiController:
  manager:
    args:
      - --leader-elect
      - --health-probe-bind-address=:8081
      - --metrics-bind-address=0
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    image:
      repository: tfy.jfrog.io/tfy-images/elasti-operator
      tag: 8dbe398810147eb1f943f8314eb8a0a411992209
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
    sentry:
      enabled: false
      environment: ""
    env:
      pollingInterval: 30
  replicas: 1
  serviceAccount:
    annotations: {}
  metricsService:
    port: 8080
    type: ClusterIP
  service:
    port: 8013
    type: ClusterIP
elastiResolver:
  proxy:
    env:
      headerForHost: X-Envoy-Decorator-Operation
      initialCapacity: "500"
      maxIdleProxyConns: "100"
      maxIdleProxyConnsPerHost: "500"
      maxQueueConcurrency: "100"
      operatorRetryDuration: "10"
      queueRetryDuration: "3"
      queueSize: "50000"
      reqTimeout: "360"
      trafficReEnableDuration: "5"
    image:
      repository: tfy.jfrog.io/tfy-images/elasti-resolver
      tag: 8dbe398810147eb1f943f8314eb8a0a411992209
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 750m
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 500Mi
    sentry:
      enabled: false
      environment: ""
  replicas: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 4
    targetCPUUtilizationPercentage: 70
  # Port for hitting the reverse proxy server
  reverseProxyService:
    port: 8012
    type: ClusterIP
  # Port for hitting the internal server used for everything except reverse proxy
  service:
    port: 8013
    type: ClusterIP
